doctype html 
html 
    head 
        title Homepage
    body
        h1 Homepage of my Todods app
        div
           a(href='./login') Login
           a(href='./signup') Signup
        block content
    